body{
    background:rgb(11, 75, 9);
    color: white;
    font-size: 100%;
    margin: 5%;
}

p{
    font-family: Arial;
}

a.skip{
    position: relative;
    left:-1000px;
}

a.skip:focus{
    position:static;
    width:auto;
    height:auto
}

nav a{
    
}
a.current{
    color: green;
    font-style: italic;
    font-family: Georgia, serif;
    background: orange;
}

.other{
    color: white
}

figure {
    float: right;
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

.gallery{
    display: flex;
  }
  
.column {
   flex: 15%;
   padding: 5px;
 }

*{color: white;
    /* text-shadow: */
		/* -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; */
)


